{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">

    <div class="mb-3">
      <label class="required" for="firstname">First Name</label>
      <input class="form-control" name="firstname" id="firstname">
    </div>
    <div class="mb-3">
      <label class="required" for="lastname">Last Name</label>
      <input class="form-control" name="lastname" id="lastname">
    </div>
    <div class="mb-3">
      <label class="required" for="email">Email</label>
      <input class="form-control" name="email" id="email">
    </div>
    <div class="mb-3">
      <label class="required" for="password">Password</label>
      <input class="form-control" type="password" name="password" id="password">
    </div>
    <div class="mb-3">
      <label for="phone">Phone Number</label>
      <input class="form-control" name="phone" id="phone">
    </div>

    <div class="mb-3">
      <label for="profile">Profile (no more than 4000 characters)</label>
      <textarea class="form-control" name="profile" style="min-height: 10em;" maxlength=4000></textarea>
    </div>
    
    <h4>Home Address</h4>
      
    <div class="mb-3">
      <label class="required" for="addr_street">Address</label>
      <input class="form-control" name="addr_street" id="addr_street">
    </div>
    
    <div class="mb-3">
      <label class="required" for="addr_city">City</label>
      <input class="form-control" name="addr_city" id="addr_city">
    </div>

    <div class="mb-3">
      <label class="required" for="addr_state">State</label>
      <input class="form-control" name="addr_state" id="addr_state">
    </div>

    <div class="mb-3">
      <label class="required" for="addr_zip">Zip Code</label>
      <input class="form-control" name="addr_zip" id="addr_zip">
    </div>

    <input type="submit" class="btn btn-primary" value="Register">
  </form>
{% endblock %}